/* @import "_footer.css";
@import "_header.css";
@import "_main.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap"); */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
  font-family: "Poppins", sans-serif;
}

body {
  height: 100%;
  width: 100%;
}

main,
footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  width: 1440px;
  margin: auto;
}

.picture {
  display: flex;
  align-items: center;
  justify-content: center;
}
/*-----------------*/

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: auto;
}

.picture {
  height: 100px;
}

@media (max-width: 720px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.sign_up {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem;
  margin: 1rem 5rem;
  background-color: rgba(69, 69, 85, 0.164);
  border-left: 5px solid rgba(60, 60, 197, 0.822);
  border-radius: 3px;
  max-width: 25rem;
}

form {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

input {
  margin: 0.2rem 0;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  border: 1px solid rgb(133, 133, 133);
  max-width: 20rem;
}

button {
  padding: 0.3rem 0;
  width: 5rem;
  border: 1px solid rgb(133, 133, 133);
  background-color: rgba(0, 0, 184, 0.596);
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

h4 {
  color: black;
  font-weight: 900;
}

/*-------*/

.nav_wrapper {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  background-image: linear-gradient(to right, #627aff, #0004ff);
}

.nav_wrapper .links {
  display: flex;
  margin: 0 1rem;
  list-style: none;
}

.links li a {
  text-decoration: none;
  padding: 1rem;
  font-size: 1.5rem;
  color: black;
}

.logo {
  font-size: 2.5rem;
  padding: 0 5rem;
}

/*-------*/

:root {
  --background-color: linear-gradient(190deg, #65c18c, #c1f4c5);
  --secondary-color: #3f1d1d;
  --logo-color: #000000;
  --primary-font-family: "Poppins", sans-serif;
  --hover: rgb(0, 153, 255);
}

footer {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--background-color);
  height: auto;
  width: 100%;
  font-family: var(--primary-font-family);
  color: var(--secondary-color);
  margin-top: auto;
  clear: both;
}

.footer-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: var(--secondary-color);
  margin: 1rem;
  padding: 1rem;
}

@media (max-width: 720px) {
  .footer-content {
    flex-direction: column;
  }
  .socials a {
    color: #65c18c;
  }
}

.footer-logo {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 3rem;
  color: var(--logo-color);
}
.footer-content p {
  text-align: start;
  max-width: 500px;
  margin: 10px auto;
  line-height: 20px;
  font-size: 14px;
}

.footer-quotes {
  padding: 5rem auto;
  margin: 5rem;
}

.footer-links {
  padding: 10px;
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 2rem 0;
}
.socials-li {
  margin: 0 10px;
  padding: 10px 0;
}
.socials a {
  text-decoration: none;
  color: var(--secondary-color);
  position: relative;
  padding-bottom: 0.4rem;
}

.socials a:hover {
  color: var(--hover);
}
.socials a:before {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: var(--hover);
  transform: scaleX(0);
}

.socials a:before,
.socials a:after {
  content: "";
  position: absolute;
  transition: transform 0.5s ease;
}

.socials a:hover:before {
  transform: scaleX(1);
}

.socials a i {
  font-size: 1.5rem;
}

.footer-bottom {
  background: black;
  width: 100%;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p {
  font-size: 1rem;
  word-spacing: 2px;
  text-transform: capitalize;
  color: rgb(80, 73, 73);
}
.footer-bottom span {
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 200;
}
